<p id="notice"><%= notice %></p>

<h1>Assignfeedback Files</h1>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Grade</th>
      <th>Numfiles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignfeedback_files.each do |assignfeedback_file| %>
      <tr>
        <td><%= assignfeedback_file.assignment %></td>
        <td><%= assignfeedback_file.grade %></td>
        <td><%= assignfeedback_file.numfiles %></td>
        <td><%= link_to 'Show', assignfeedback_file %></td>
        <td><%= link_to 'Edit', edit_assignfeedback_file_path(assignfeedback_file) %></td>
        <td><%= link_to 'Destroy', assignfeedback_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignfeedback File', new_assignfeedback_file_path %>
