<%= form_with(model: assignment_upgrade, local: true) do |form| %>
  <% if assignment_upgrade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment_upgrade.errors.count, "error") %> prohibited this assignment_upgrade from being saved:</h2>

      <ul>
      <% assignment_upgrade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :oldcmid %>
    <%= form.text_field :oldcmid %>
  </div>

  <div class="field">
    <%= form.label :oldinstance %>
    <%= form.text_field :oldinstance %>
  </div>

  <div class="field">
    <%= form.label :newcmid %>
    <%= form.text_field :newcmid %>
  </div>

  <div class="field">
    <%= form.label :newinstance %>
    <%= form.text_field :newinstance %>
  </div>

  <div class="field">
    <%= form.label :timecreated %>
    <%= form.text_field :timecreated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
