<p id="notice"><%= notice %></p>

<p>
  <strong>Submissionid:</strong>
  <%= @assignfeedback_editpdf_queue.submissionid %>
</p>

<p>
  <strong>Submissionattempt:</strong>
  <%= @assignfeedback_editpdf_queue.submissionattempt %>
</p>

<%= link_to 'Edit', edit_assignfeedback_editpdf_queue_path(@assignfeedback_editpdf_queue) %> |
<%= link_to 'Back', assignfeedback_editpdf_queues_path %>
