<p id="notice"><%= notice %></p>

<p>
  <strong>Gradeid:</strong>
  <%= @assignfeedback_editpdf_cmnt.gradeid %>
</p>

<p>
  <strong>X:</strong>
  <%= @assignfeedback_editpdf_cmnt.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @assignfeedback_editpdf_cmnt.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @assignfeedback_editpdf_cmnt.width %>
</p>

<p>
  <strong>Rawtext:</strong>
  <%= @assignfeedback_editpdf_cmnt.rawtext %>
</p>

<p>
  <strong>Pageno:</strong>
  <%= @assignfeedback_editpdf_cmnt.pageno %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @assignfeedback_editpdf_cmnt.colour %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @assignfeedback_editpdf_cmnt.draft %>
</p>

<%= link_to 'Edit', edit_assignfeedback_editpdf_cmnt_path(@assignfeedback_editpdf_cmnt) %> |
<%= link_to 'Back', assignfeedback_editpdf_cmnts_path %>
