<p id="notice"><%= notice %></p>

<p>
  <strong>Elementid:</strong>
  <%= @editor_atto_autosafe.elementid %>
</p>

<p>
  <strong>Contextid:</strong>
  <%= @editor_atto_autosafe.contextid %>
</p>

<p>
  <strong>Pagehash:</strong>
  <%= @editor_atto_autosafe.pagehash %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @editor_atto_autosafe.userid %>
</p>

<p>
  <strong>Drafttext:</strong>
  <%= @editor_atto_autosafe.drafttext %>
</p>

<p>
  <strong>Draftid:</strong>
  <%= @editor_atto_autosafe.draftid %>
</p>

<p>
  <strong>Pageinstance:</strong>
  <%= @editor_atto_autosafe.pageinstance %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @editor_atto_autosafe.timemodified %>
</p>

<%= link_to 'Edit', edit_editor_atto_autosafe_path(@editor_atto_autosafe) %> |
<%= link_to 'Back', editor_atto_autosaves_path %>
