<p id="notice"><%= notice %></p>

<p>
  <strong>Modelid:</strong>
  <%= @analytics_models_log.modelid %>
</p>

<p>
  <strong>Version:</strong>
  <%= @analytics_models_log.version %>
</p>

<p>
  <strong>Target:</strong>
  <%= @analytics_models_log.target %>
</p>

<p>
  <strong>Indicators:</strong>
  <%= @analytics_models_log.indicators %>
</p>

<p>
  <strong>Timespliting:</strong>
  <%= @analytics_models_log.timespliting %>
</p>

<p>
  <strong>Score:</strong>
  <%= @analytics_models_log.score %>
</p>

<p>
  <strong>Info:</strong>
  <%= @analytics_models_log.info %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @analytics_models_log.dir %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @analytics_models_log.timecreated %>
</p>

<p>
  <strong>Usermodified:</strong>
  <%= @analytics_models_log.usermodified %>
</p>

<%= link_to 'Edit', edit_analytics_models_log_path(@analytics_models_log) %> |
<%= link_to 'Back', analytics_models_logs_path %>
