<%= form_with(model: analytics_used_analysable, local: true) do |form| %>
  <% if analytics_used_analysable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analytics_used_analysable.errors.count, "error") %> prohibited this analytics_used_analysable from being saved:</h2>

      <ul>
      <% analytics_used_analysable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelid %>
    <%= form.text_field :modelid %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_field :action %>
  </div>

  <div class="field">
    <%= form.label :analysableid %>
    <%= form.text_field :analysableid %>
  </div>

  <div class="field">
    <%= form.label :timeanalysed %>
    <%= form.text_field :timeanalysed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
