<p id="notice"><%= notice %></p>

<p>
  <strong>Modelid:</strong>
  <%= @analytics_used_analysable.modelid %>
</p>

<p>
  <strong>Action:</strong>
  <%= @analytics_used_analysable.action %>
</p>

<p>
  <strong>Analysableid:</strong>
  <%= @analytics_used_analysable.analysableid %>
</p>

<p>
  <strong>Timeanalysed:</strong>
  <%= @analytics_used_analysable.timeanalysed %>
</p>

<%= link_to 'Edit', edit_analytics_used_analysable_path(@analytics_used_analysable) %> |
<%= link_to 'Back', analytics_used_analysables_path %>
