<p id="notice"><%= notice %></p>

<p>
  <strong>Starttime:</strong>
  <%= @analytics_indicator_calc.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @analytics_indicator_calc.endtime %>
</p>

<p>
  <strong>Contextid:</strong>
  <%= @analytics_indicator_calc.contextid %>
</p>

<p>
  <strong>Sampleorign:</strong>
  <%= @analytics_indicator_calc.sampleorign %>
</p>

<p>
  <strong>Sampleid:</strong>
  <%= @analytics_indicator_calc.sampleid %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @analytics_indicator_calc.indicator %>
</p>

<p>
  <strong>Value:</strong>
  <%= @analytics_indicator_calc.value %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @analytics_indicator_calc.timecreated %>
</p>

<%= link_to 'Edit', edit_analytics_indicator_calc_path(@analytics_indicator_calc) %> |
<%= link_to 'Back', analytics_indicator_calcs_path %>
