<%= form_with(model: assign_user_mapping, local: true) do |form| %>
  <% if assign_user_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assign_user_mapping.errors.count, "error") %> prohibited this assign_user_mapping from being saved:</h2>

      <ul>
      <% assign_user_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :assignment %>
    <%= form.text_field :assignment %>
  </div>

  <div class="field">
    <%= form.label :userid %>
    <%= form.text_field :userid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
