<p id="notice"><%= notice %></p>

<p>
  <strong>Module:</strong>
  <%= @post.module %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @post.userid %>
</p>

<p>
  <strong>Courseid:</strong>
  <%= @post.courseid %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @post.groupid %>
</p>

<p>
  <strong>Moduleid:</strong>
  <%= @post.moduleid %>
</p>

<p>
  <strong>Coursemoduleid:</strong>
  <%= @post.coursemoduleid %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @post.subject %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @post.summary %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Uniquehash:</strong>
  <%= @post.uniquehash %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<p>
  <strong>Format:</strong>
  <%= @post.format %>
</p>

<p>
  <strong>Summaryformat:</strong>
  <%= @post.summaryformat %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @post.attachment %>
</p>

<p>
  <strong>Publishstate:</strong>
  <%= @post.publishstate %>
</p>

<p>
  <strong>Lastmodified:</strong>
  <%= @post.lastmodified %>
</p>

<p>
  <strong>Created:</strong>
  <%= @post.created %>
</p>

<p>
  <strong>Usermodified:</strong>
  <%= @post.usermodified %>
</p>

<p>
  <strong>Blog association:</strong>
  <%= @post.blog_association %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
