<p id="notice"><%= notice %></p>

<p>
  <strong>Modelid:</strong>
  <%= @analytics_predict_sample.modelid %>
</p>

<p>
  <strong>Analysableid:</strong>
  <%= @analytics_predict_sample.analysableid %>
</p>

<p>
  <strong>Timespliting:</strong>
  <%= @analytics_predict_sample.timespliting %>
</p>

<p>
  <strong>Rangeindex:</strong>
  <%= @analytics_predict_sample.rangeindex %>
</p>

<p>
  <strong>Sampleids:</strong>
  <%= @analytics_predict_sample.sampleids %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @analytics_predict_sample.timecreated %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @analytics_predict_sample.timemodified %>
</p>

<%= link_to 'Edit', edit_analytics_predict_sample_path(@analytics_predict_sample) %> |
<%= link_to 'Back', analytics_predict_samples_path %>
