<p id="notice"><%= notice %></p>

<p>
  <strong>Gradeid:</strong>
  <%= @assignfeedback_editpdf_annot.gradeid %>
</p>

<p>
  <strong>Pageno:</strong>
  <%= @assignfeedback_editpdf_annot.pageno %>
</p>

<p>
  <strong>X:</strong>
  <%= @assignfeedback_editpdf_annot.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @assignfeedback_editpdf_annot.y %>
</p>

<p>
  <strong>Endx:</strong>
  <%= @assignfeedback_editpdf_annot.endx %>
</p>

<p>
  <strong>Endy:</strong>
  <%= @assignfeedback_editpdf_annot.endy %>
</p>

<p>
  <strong>Path:</strong>
  <%= @assignfeedback_editpdf_annot.path %>
</p>

<p>
  <strong>Type:</strong>
  <%= @assignfeedback_editpdf_annot.type %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @assignfeedback_editpdf_annot.colour %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @assignfeedback_editpdf_annot.draft %>
</p>

<%= link_to 'Edit', edit_assignfeedback_editpdf_annot_path(@assignfeedback_editpdf_annot) %> |
<%= link_to 'Back', assignfeedback_editpdf_annots_path %>
