<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @assignfeedback_editpdf_quick.userid %>
</p>

<p>
  <strong>Rawtext:</strong>
  <%= @assignfeedback_editpdf_quick.rawtext %>
</p>

<p>
  <strong>Width:</strong>
  <%= @assignfeedback_editpdf_quick.width %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @assignfeedback_editpdf_quick.colour %>
</p>

<%= link_to 'Edit', edit_assignfeedback_editpdf_quick_path(@assignfeedback_editpdf_quick) %> |
<%= link_to 'Back', assignfeedback_editpdf_quicks_path %>
